body {
    margin: 0px;
    padding: 0px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}


* {
    box-sizing: border-box;
}

input{
    box-sizing: border-box  ;
}

.container {
    display: flex;
    flex-direction: column;
    margin: auto;
    /* width:1600px; */
    min-height: 100vh;
    background-color: rgb(137, 137, 144);
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: rgb(45, 44, 44);

}

.header__center {
    width: 1600px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo {
    margin-top: auto;
    font-size: 45px;
    font-weight: bold;
    text-transform: uppercase;
    color: azure;
}

.menu {
    width: 300px;
    height: 45px;
    margin-top: 15px;
    border: 1px solid black;
    background-color: rgb(127, 255, 133);
}

.main {
    width: 1600px;
    flex: 1;
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 80px;
}

.main__screen {
    display: flex;
    justify-content: space-between;
    width: 1600px;
    margin-top: 80px;
}

.text {
    display: flex;
    flex-direction: column;
    width: 450px;
    color: azure
}

.text__main {
    font-size: 70px;
    font-weight: bold;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.text__parag {
    font-size: 30px;
    text-align: left;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.alighn {
    width: 50px;
    height: 1px;
    margin-bottom: 30px;
    background-color: azure;
}

.text__parag-two {
    font-size: 18px;
    margin-bottom: 30px;
    color: rgb(218, 219, 225)
}

.but {
    background-color: rgb(137, 137, 144);
    border: 2px solid azure;
    padding: 10px 20px;
    font-size: 18px;
    color: azure;
}

.fourm {
    background-color: rgb(236, 245, 242);
    width: 450px;
    height: 450px;
}

.main__social {
    width: 100%;
    padding: 20px 0;
    background-color: rgb(247, 254, 254);
}

.social__center {
    width: 1600px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.socia__media {
    display: flex;
    flex-direction: column;
}

.social__center-media {
    font-size: 25px;
    font-weight: bold;
}

.social__center-parag {
    color: rgb(111, 111, 112)
}

.social__center-soc {
    display: flex;
    align-items: center;
    gap: 40px;
}

.social {
    width: 35px;
    height: 35px;
}

.maintwo {
    width: 100%;
    padding: 150px 0;
    background-color: rgb(225, 227, 227);
}

.maintwo__effect {
    width: 1600px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.block {
    display: flex;
    width: 105px;
    padding: 70px;
    justify-content: center;
    white-space: nowrap;
    border: 1px solid rgb(225, 227, 227);
    background-color: rgb(1, 31, 31);
    color: azure;
}

.effect-main-text {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 60px;
}

.effect-main-parag {
    font-size: 20px;
    margin-bottom: 60px;
}

.effect-main_p {
    margin-bottom: 25px;
}

.effect-main-button {
    padding: 10px 20px;
    border: none;
    border-radius: 2px;
    background-color: rgb(217, 107, 12);
    font-size: 18px;
    color: azure
}

.maintwo__effect-img {
    height: 520px;
    width: 550px;
}

.main__sub-list {
    width: 100%;
    padding: 150px 0;
    background-color: rgb(245, 248, 248)
}

.main__sub-list-center {
    display: flex;
    width: 1600px;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-between;
    gap: 300px;
}

.main__sub-photo {
    width: 700px;
    height: 600px;
}

.sub-list-main-text {
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 25px;
}

.alighn__yelow {
    width: 75px;
    height: 2px;
    margin-bottom: 30px;
    background-color: rgb(224, 150, 23);
}

.list-main_list_text {
    font-size: 20px;
    margin-bottom: 55px;
}

.li__icon {
    font-size: 18px;
}

.main__standart {
    width: 100%;
    padding: 150px 0;
    background-color: rgb(223, 226, 226);
}

.main__standart-center {
    width: 1600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.main__standart-gap {
    margin-right: 300px;
}

.main__awesome {
    width: 100%;
    padding: 150px 0;
    background-color: rgb(242, 242, 242);
}

.main__awesome-center {
    width: 1600px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

.awesome {
    display: flex;
    justify-content: center;
}

.awesome__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.awesome__text-main {
    font-size: 45px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 25px;
}

.awesome__text {
    font-size: 20px;
}

.awesome__three-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.awesome__container-dd {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 45px;
}

.img__aw {
    width: 45px;
    height: 45px;
    margin-bottom: 15px;
}

.awesome__main-text {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 25px;
}

.container-t {
    font-size: 18px;
    text-align: center;
    color: rgb(93, 93, 93)
}

.pricing {
    width: 100%;
    padding: 150px 0;
    background-color: rgb(225, 227, 229);
}

.pricing__center {
    width: 1600px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

.pricing__conteiner {
    display: flex;
    justify-content: center;
}

.pricing__conteiner-center-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.pricing__text-main {
    font-size: 45px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 25px;
    margin-top: 25px;
}

.pricing__text {
    font-size: 20px;
}

.pricing__conteiner-center {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: row;
    gap: 60px;
}

.pricing__standart {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.pricing__hover {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.pricing__standart-top {
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
    padding-top: 15px;
    background-color: rgb(2, 1, 33);
}

.pricing__top-hover {
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
    padding-top: 15px;
    background-color: rgb(2, 1, 33);
}

.basic-text-main {
    font-size: 20px;
    font-weight: bold;
    color: azure;
}

.pricing__align {
    width: 100%;
    height: 1px;
    margin: 15px;
    background-color: azure;
}

.basic__text-numbers {
    font-size: 80px;
    color: azure;
}

.basic-text-gray {
    font-size: 16px;
    color: rgb(141, 144, 144);
}

.pricing__align-yelow {
    width: 100%;
    height: 3px;
    margin-top: 15px;
    background-color: rgb(225, 112, 13);
}

.basic-align-text {
    width: 100%;
    height: 50px;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(225, 112, 13);
}

.basic-align-text-center {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: azure;
}

.pricing__standart-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    gap: 15px;
    background-color: aliceblue;
}

.pricing__text {
    font-size: 14px;
    text-transform: uppercase;
    color: rgb(140, 140, 143)
}

.customers {
    width: 100%;
    padding: 150px 0;
    background-color: rgb(239, 244, 244);
}

.customers__center {
    width: 1600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

.customers__conteiner {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: row;
    gap: 35px;
}

.conteiner-coments {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.customers__conteiner-coments {
    display: flex;
    justify-content: center;
    padding: 20px;
    width: 400px;
    border-radius: 2px;
    background-color: rgb(224, 224, 227);
    color: rgb(58, 58, 60);
}

.customers__conteiner-person {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 15px;
    margin-top: 25px;
}

.person__avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(40, 40, 41);
}

.person__name-text {
    font-size: 20px;
    font-weight: bold;
    color: rgb(47, 47, 48);
}

.person__name-text-status {
    font-size: 16px;
    color: rgb(58, 58, 60);
}

.stylish {
    width: 100%;
    width: 100%;
    padding: 150px 0;
    background-color: rgb(174, 174, 175);
}

.stylish__center {
    width: 1600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

.stylish__text-main {
    font-size: 45px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 25px;
    margin-top: 25px;
    color: azure
}

.alighn__white {
    background-color: azure;
}

.white__text {
    color: azure;
}

.stylish__but {
    background-color: rgb(174, 174, 175);
}

.gray__text {
    color: rgb(210, 212, 212)
}

.contact {
    width: 100%;
    width: 100%;
    padding: 150px 0;
    background-color: rgb(240, 240, 245);
}

.contact__center {
    width: 1600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

.contact__text {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 35px;
}

.contact__mail {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    gap: 20px;
}

.contact__input {
    width: 600px;
    height: 45px;
    padding: 15px;
    border: 1px transparent;
    border-bottom: solid rgb(203, 204, 205);
    outline: 0;
    outline-offset: 0;
    background-color: rgb(240, 240, 245);
}

.massenge__text {
    width: 600px;
    height: 100%;
    outline: 0;
    outline-offset: 0;
    border: 10px ;
    border-bottom: solid rgb(203, 204, 205);
    background-color: rgb(240, 240, 245);
}

.contact__input:hover,
.contact__input:active {
    border: 1px ;
    border: solid rgb(203, 204, 205);
    border-radius: 5px;
    background-color:rgb(240, 240, 245);
}

.contact__input:focus {
    border: 1px;
    border: solid rgb(203, 204, 205);
    border-radius: 5px;
}

.butt__contact{
    padding: 10px 20px;
    border: none;
    border-radius: 2px;
    background-color: rgb(217, 107, 12);
    font-size: 18px;
    color: azure;
}

.butt__contact:hover{
    background-color: rgb(241, 120, 14);
}

.end{
    width: 100%;
    width: 100%;
    padding: 25px 0;
    background-color: rgb(223, 223, 225);
}

.end__center{
    width: 1600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}
